* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.hand-image {
  width: 100%;
  height: auto;
}

.far {
  font-size: 60px;
}