* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
  text-align: center;
}

.player {
  text-align: center;
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.versus {
  font-size: 4rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.hand-image {
  width: 100%;
  height: auto;
}

.btn-light {
  width: 20%;
  margin: 5px;
}

.far {
  font-size: 60px;
}
