* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.intro {
  background-color: #124662;
  color: white;
  align-items: center;
  display: flex;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #1A999C;
  text-align: center;
}

/* versus section */
.versus {
  border: 4px solid #f8f9fa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.versus-column {
  padding: 15px;
}

.player {
  text-align: center;
  font-size: 3rem;
  color: #1A999C;
  font-family: 'Indie Flower', cursive;
}

.vs {
  font-size: 4rem;
  color: #1A999C;
  font-family: 'Indie Flower', cursive;
}

.hand-image {
  width: 100%;
  height: auto;
}

/* opponents section */
.opponents {
  padding: 15px;
  border: 4px solid #f8f9fa;
  border-radius: 10px;
}

button.btn.opponent {
  padding: 0px 0px;
}

.btn-light {
  width: 20%;
  margin: 5px;
}

span.badge-secondary {
  color: #fff;
  background-color: #f3514f;
  font-size: 20px;
  margin-right: 10px;
}

/* hands section */
.far {
  font-size: 60px;
}

.hands {
  padding: 15px;
  border: 4px solid #f8f9fa;
  border-radius: 10px;
  margin-left: 20px;
}
